body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url("svgs/background.svg");
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.nav {
  fill: #39add1;
}

a:hover .heart-icon {
  fill: red;
  transform: scale(1.3);
  transition: transform .3s ease-out;
}

a:hover .visit-icon {
  fill: brown;
  transform: rotate(360deg);
  transition: transform .3s ease-out;
}

a:hover .contact-icon {
  fill: blue;
  transform: skewX(20deg);
  transition: transform .3s ease-out;
}

.logo {
  width: 140px;
  height: 120px;
  fill: #fff;
}

.logo:hover .paw {
  animation: pulse .5s ease-out;
}

.logo:hover .paw-1 {
  animation: pulse .3s ease-out;
  animation-delay: .5s;
}

.logo:hover .paw-2 {
  animation: pulse .3s ease-out;
  animation-delay: .8s;
}

.logo:hover .paw-3 {
  animation: pulse .3s ease-out;
  animation-delay: 1.1s;
}

.logo:hover .paw-4 {
  animation: pulse .3s ease-out;
  animation-delay: 1.4s;
}

.logo:hover .logo-title {
  animation: grow 1s ease-out backwards;
  animation-delay: 1.7s;
}

.logo-text {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.corgi-sable {
  color: #d1ad52;
  fill: currentColor;

}

.corgi-fawn {
  color: #e5aa70;
  fill: currentColor;

}

.corgi-red {
  color: #791b19;
  fill: currentColor;
}

.corgi-stone {
  color: #a9a9a9;
  fill: currentColor;
}

.Layer_1 {
  width: 140px;
  height: 120px;
}

.Layer_1:hover {
  transform: rotate(25deg);
  transition: transform .3s ease-out;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.4);
  }
}


@media (min-width: 425px) {
  .logo-text {
    display: none;
  }

  .logo {
    fill: #eaaa7f;
  }
}


